.about{
  background-color:$primaryDark;

  .performingLineUp, .newExperiences{
    display:flex;
    flex-direction:row;

    
    @media (max-width:768px){
      flex-direction:column;
    }

    h2{
      padding:0;
      margin:0;
    }

    .firstContainer, .secondContainer{
      flex-basis:50%;

      @media (max-width:768px){
        display:flex;
        flex-direction:column;
      }

      img{
        width:100%;
      }
    }
    
  }

  .performingLineUp .firstContainer, .newExperiences .secondContainer{
    padding:5%;
  }
  
  .performingLineUp{
    
    @media (max-width:768px){
      flex-direction:column-reverse;
    }
  }

}