header{

  .wrapper{
    position:relative;
    display:flex;
    flex-direction:column;
    height:100vh;
    background-image:url(./../../assets/image-1.png);
    background-size:cover;

    h1{
      display:flex;
      flex-direction:column;
      margin:200px auto 0 auto;
      font-family:'Iceberg';
      font-size:80px;
      line-height:80px;
      text-align:center;
      font-size:4rem;
    }

    h2{
      font-family: 'Montserrat', sans-serif;
      text-align:center;
      background-color:$primaryPurple;
      margin:0 auto;
      font-size:52px;
      padding:10px 20px;
      width:max-content;
    }
  
    nav{
      display:flex;
      font-family:'Montserrat', sans-serif;
      padding:20px;


      ul{
        display:flex;
        flex-direction:row;
        margin:auto;
        justify-content:space-between;
        width:30%;
        list-style:none;
        
        a{
          text-transform:uppercase;
          color:$primaryLight;
          text-decoration:none;
        }
      }
    }

  }

}

.socialLinks {
  position:absolute;
  right:2%;
  top:30%;

  ul{
    display:flex;
    flex-direction:column;
    padding:0;
    list-style:none;

    li {
      margin:20px;
      a{
        text-decoration:none;
        color:$primaryLight;
      }

    }

  }
}