$primaryLight:#FFF;
$primaryPurple:#9200FF;
$secondaryPurple:#3D0369;
$primaryDark:#0F0632;
$secondaryDark:#08080B;

html{
  color:$primaryLight;
  font-size:125%;

  @media (max-width:768px){
    font-size:100%;
  }
}


