@import './partials/variables';
@import './partials/setup';
@import './partials/header';
@import './partials/footer';

html{
  color:$primaryLight;
  font-size:125%;
}

.readMore{
  text-decoration:none;
  font-family: 'Iceberg';
  color:$primaryLight;
  background-color:$primaryPurple;
  padding:10px 15px;
  font-size:25px;
  line-height:29px;
  text-transform:uppercase;
}



section{
    .wrapper{
        padding:5%;
    }
    h2{
        font-family:'Iceberg';
        text-transform:uppercase;
        font-size:52px;
        margin:0 auto;
    }
    p{
        font-family:'Montserrat',sans-serif;
    }
}

.about{
  background-color:$primaryDark;

  .performingLineUp, .newExperiences{
    display:flex;
    flex-direction:row;

    h2{
      padding:0;
      margin:0;
    }

    .firstContainer, .secondContainer{
      flex-basis:50%;

      img{
        width:100%;
      }
    }
    
  }

  .performingLineUp .firstContainer, .newExperiences .secondContainer{
    padding:5%;
  }

}


.tickets{
    background-color:$secondaryDark;
    
    .wrapper{
        display:flex;
        flex-direction:row;

        p{
            font-family:'Montserrat',sans-serif;
        }



        .ticketImg{
            width:25%;

            img {
            width:100%;
            }
        }

        .ticketText{
            width:calc(75% - 50px);
            margin-left:50px;
        }
    }
}

.info{
    background-color:$secondaryPurple;
    padding:20px;
    font-family:'Montserrat',sans-serif;

    ul{
        list-style:none;
        display:flex;
        justify-content:space-between;
        width:60%;
        margin: 50px auto;

        li{
        text-transform:uppercase;
        font-weight:bold;
        display:flex;
        flex-direction:column;
        font-size:30px;
        text-align:center;
        }

        a{
        color:$primaryLight;
        text-decoration:none;
        }
    }

}

.gallery{
    background-color:$primaryDark;

    h2{
        text-align:center;
    }
    ul{
        padding:0px;
        display:flex;
        list-style:none;

        li{
            margin:20px;
        }
        img{
        width:100%;
        }
    }
}

.contact{
    background-color:$secondaryPurple;
    font-family: 'Montserrat', sans-serif;

    .wrapper{
        padding:20px 100px;
    }

    h3{
        font-family:'Iceberg';
        text-transform:uppercase;
    }

    .navLinks{

        ul{
            display:flex;
            flex-direction:row;
            justify-content:space-evenly;
            width:60%;
            margin:20px auto;
            list-style:none;

            a{
                text-decoration:none;
                color:$primaryLight;
                text-transform:uppercase;
                font-weight:bold;
            }
        }
    }


    .extraInfo{
        display:flex;
        flex-direction:row;
        border:1px white solid;
        justify-content:space-between;

        p{
            margin:0;
        }
    }
}
