@import './partials/variables';
@import './partials/setup';
@import './partials/header';
@import './partials/footer';
@import './partials/about';
@import './partials/tickets';


.readMore{
  text-decoration:none;
  font-family: 'Iceberg';
  color:$primaryLight;
  background-color:$primaryPurple;
  padding:10px 15px;
  font-size:25px;
  line-height:29px;
  text-transform:uppercase;
  transition: background-color 0.3s ease;

    @media (max-width:768px){
        margin:0 auto;
    }
}

.readMore:hover{
    transition: background-color 0.3s ease;
    background-color:$secondaryPurple;
}

section{
    .wrapper{
        padding:5%;
    }
    h2{
        font-family:'Iceberg';
        text-transform:uppercase;
        font-size:52px;
        margin:0 auto;
    }
    p{
        font-family:'Montserrat',sans-serif;
    }
}



.info{
    background-color:$secondaryPurple;
    padding:20px;
    font-family:'Montserrat',sans-serif;

    ul{
        list-style:none;
        display:flex;
        justify-content:space-between;
        width:60%;
        margin: 50px auto;
        padding:0;

        @media (max-width:768px){
            flex-direction:column;

            li{
                margin:20px;
            }

        }

        li{
            text-transform:uppercase;
            font-weight:bold;
            display:flex;
            flex-direction:column;
            font-size:30px;
            text-align:center;
        }

        a{
            color:$primaryLight;
            text-decoration:none;
            margin:10px;
            transition: color 0.3s ease;
        }

        a:hover{
            transition: color 0.3s ease;
            color:$primaryDark;
        }
    }

}

.gallery{
    background-color:$primaryDark;

    h2{
        text-align:center;
    }
    ul{
        padding:0px;
        display:flex;
        list-style:none;

        li{
            margin:20px;
        }
        img{
        width:100%;
        }
    }
}

.contact{
    background-color:$secondaryPurple;
    font-family: 'Montserrat', sans-serif;

    .wrapper{
        padding:20px 100px;

        h3{
            font-family:'Iceberg';
            text-transform:uppercase;
        }
    
        .navLinks{
    
            ul{
                display:flex;
                flex-direction:row;
                justify-content:space-evenly;
                list-style:none;
                padding:0;
    
                a{
                    text-decoration:none;
                    color:$primaryLight;
                    text-transform:uppercase;
                    font-weight:bold;
                }
            }
        }
    
    
        .extraInfo{
            display:flex;
            flex-direction:row;
            justify-content:space-between;

            @media (max-width:768px){
                flex-direction:column;
                text-align:center;

            }

            input{
                border:none;
                padding:10px 20px;
            }

            input::placeholder{
                opacity:1;
                color:$secondaryDark;
            }
            button{
                border:none;
                background-color:$primaryPurple;
                color:$primaryLight;
                font-family:'Iceberg';
                padding:10px 20px;
                text-transform:uppercase;
            }
        }

    }

    fieldset{
        border:none;
        padding:0;

        @media (max-width:768px){
            input, button{
                width:100%;
                margin:10px 0;
            }
        }
        
    }

    
}
